<div id="nav">
  <a href="/snap" class="camera-link"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i></a>

  <a href="/chat" class="chat-link"><i class="fa fa-comments" aria-hidden="true"></i></a>
  <a href="/stories" class="stories-link"><i class="fa fa-play-circle" aria-hidden="true"></i></a>

  <div style="clear:both;"></div>
</div>
