<nav>
  <% if signed_in? %>
    Hi, <%= current_user.name %>!
    &nbsp;
    <a href="/">Home</a>
    |
    <a href="/logout">Logout</a>
  <% else %>
    <a href="/">Home</a>
    |
    <a href="/login">Login</a>
    |
    <a href="/signup">Signup</a>
  <% end %>
</nav>
