<nav>
  <div class="row">
    <div class="col-md-3">
      <a href="/messages">Messages</a>
    </div>

    <div class="col-md-3">
      <a href="/camera">Camera</a>
    </div>

    <div class="col-md-3">
      <a href="/stories">Stories</a>
    </div>
  </div>
</nav>
