<video id="video"></video>

<canvas id="canvas">
  <img src="" id="preview" />
</canvas>

<a href="#" id="cancel-link" style="position: absolute;top: 5px;right: 5px;">Cancel</a>

<button id="shutter">
  Click!
</button>
