<video id="video"></video>

<canvas id="canvas">
  <img src="" id="preview">
</canvas>

<div id="shutter">
  <i class="fa fa-circle-thin" aria-hidden="true"></i>
</div>

<div id="cancel-link" style="display: none;">
  <i class="fa fa-times" aria-hidden="true"></i>
</div>
