body{
  padding: 0;
  margin: 0;
  background:#eee;
}

#nav {
  background: black;
  position: fixed;
  width: 100%;
  z-index: 3;
  padding: 10px;
  font-size: 22px;

  .chat-link {
    display:inline-block;
    float: left;
    color: white;
  }

  .stories-link {
    display:inline-block;
    float: right;
    color: white;
  }

  .camera-link {
    position: absolute;
    color: white;
    top: 0;
    left: 43%;
    margin: 7px;
    display: block;
    z-index: 99;
    font-size: 30px;
  }
}

#homepage {
  background: #fcf759;
  padding-top: 50px;

  #banner {
    text-align: center;
    font-size: 51px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    padding-bottom: 50px;
  }

  #login-link {
    display: block;
    background: #d83e58;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    color: white;
    font-weight: bold;
  }

  #signup-link {
    display: block;
    background: #5bb0dd;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    display: fixed;
    bottom: 0;
  }
}
