body{
  padding: 0;
  margin: 0;
  background:#eee;
}

#nav {
  background: black;
  position: fixed;
  width: 100%;
  z-index: 3;
  padding: 10px;
  font-size: 22px;

  .chat-link {
    display:inline-block;
    float: left;
    color: white;
  }

  .stories-link {
    display:inline-block;
    float: right;
    color: white;
  }

  .camera-link {
    position: absolute;
    color: white;
    top: 0;
    left: 43%;
    margin: 7px;
    display: block;
    z-index: 99;
    font-size: 30px;
  }
}
